<div class="container">
    <app-navi></app-navi>
    <div class="row">
        <div class="col-md-3">
            <app-brand>
            </app-brand>

            <div class=" mb-5">
                <app-color></app-color>
            </div>
        </div>
        <div class="col-md-9 mb-5">
            <app-car></app-car>

            <div class="col-md-9 mt-5">
                <app-rental></app-rental>
            </div>
        </div>


        <router-outlet></router-outlet>
    </div>

    <!-- color listelenmedi
    customer listelenmedi
    rental listelenmedi
-->