<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
  </div>


<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka Id</th>
            <th>Renk Id</th>
            <th>Araç Modeli</th>
            <th>Model Yılı</th>
            <th>Günlük Ücret</th>
            <th>Açıklama</th>

        </tr>
    </thead>
    <tr *ngFor = "let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
    </tr>
</table>