<h1 style="text-align: center;">Cars</h1>
<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
  </div>


<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>

            <th>Marka Adı</th>
            <th>Renk Adı</th>
            <th>Araç Modeli</th>
            <th>Araç Model Yili</th>
            <th>Günlük Ücret</th>
            <th>Detaylar</th>

        </tr>
    </thead>
    <tr *ngFor = "let car of cars">
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>

    </tr>
</table>